# Vim/Neovim
*.swp
*.swo
*~
.netrwhist

# Lua
luac.out

# Test coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.code-workspace

# test
.deps/

# direnv
.direnv/

# AI
.serena/
.claude/
specification.md
